{% load static %}
<div class="footer__container container">
    <div class="footer__sections">
        <div class="footer__section">
            <span>Institutions</span>
            <a href="" class="footer__link">Microfinance Banks</a>
            <a href="" class="footer__link">Cooperative Societies</a>
            <a href="" class="footer__link">Financial Banking</a>
            <a href="" class="footer__link">Insurance Companies</a>
        </div>
        <div class="footer__section">
            <span>More</span>
            <a href="" class="footer__link">Add your Institution</a>
            <a href="" class="footer__link">Terms and Conditions</a>
            <a href="" class="footer__link">Privacy and Policy </a>
            <a href="" class="footer__link">FAQS</a>
        </div>
        <div class="footer__section">
            <span class="footer__title">Contact</span>
            <a href="" class="footer__link">Twitter</a>
            <a href="" class="footer__link">Instagram</a>
            <a href="" class="footer__link">Linkedin</a>
            <a href="" class="footer__link">fintechinnovationhub@gmail.com</a>
            <a href="" class="footer__link">+234 (813)-275-5220</a>
            <a href="" class="footer__link">17, Tejuosho Road Yaba, Lagos State</a>
        </div>
    </div>
        <div class="footer__copyright container">
            <hr class="footer__hr">
            <p> &copy; Copyright 2021 - Finconnect Technolgies</p>
            <p> Limited | All Rights Reserved</p>
        </div>
    
</div>