{% load static %}
<div class="footer bg-secondary">
    <div class="container grid">
        <div>
            <p> &copy; Copyright 2021 - Finconnect Technolgies</p>
            <p> Limited | All Rights Reserved</p>
        </div>
        <nav>
            <!-- <span>Institutions</span> -->
            <ul>
                <li><a href="">Microfinance Banks</a></li>
                <li><a href="">Cooperative Societies</a></li>
                <li><a href="">Financial Banking</a></li>
                <li><a href="">Insurance Companies</a></li>
            </ul>
        </nav>
        <nav>
            <!-- <span>More</span> -->
            <ul>
                <li><a href="" >Add your Institution</a></li>
                <li><a href="" >Terms and Conditions</a></li>
                <li><a href="" >Privacy and Policy </a></li>
                <li><a href="" >FAQS</a></li>
            </ul>
        </nav>
        <div class="social">
            <a href=""><i class="fab fa-twitter fa-2x"></i></a>
            <a href=""><i class="fab fa-facebook fa-2x"></i></a>
            <a href=""><i class="fab fa-linkedin fa-2x"></i></a>
            <a href=""><i class="fab fa-gmail fa-2x"></i></a>
            <a href="+234 (813)-275-5220" class="footer__link"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="" class="">17, Tejuosho Road Yaba, Lagos State</a>
        </div>
    </div>
</div>
