{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<div class="search__container">
    <div class="search__title">
        <h1>Connect with your desired vendors</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit perferendis nulla sit qui, eveniet voluptatum doloremque ipsa rerum ab magni necessitatibus tempore nisi! Delectus expedita molestias optio </p>
    </div>
        <form class="search__form" action="{% url 'search-list' %}" method="POST" id="searchForm">
            <div class="search__bar">
            {% csrf_token %}
            <!-- {{ filter.form}} -->
        <!-- <div>
            
            <select name="category" id="categoryField">
               {% for category in instituition_categories %}
                <option value="{{ category.name }}">{{category.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <select name="state" id="stateField">
                <option value="">Lagos State</option>
                <option value="">Lagos State</option>
            </select>
        </div> -->

            <input class="search__input" type="search" name="search_text" id="searchField" placeholder="Search Listings">
                <!-- <input type="submit"> -->

            <button class="search__button" type="submit"> <i class="material-icons">search</i> Search </button>
        </div> 
        </form>

</div>   