{% extends '_base.html' %}
{% load static %}
{% block content %}
<!-- <aside>
    <p>Step 1</p>
    <p>Step 2</p>
    <p>Step 2</p>
    <p>Step 3</p>
</aside> -->
<link rel="stylesheet" href="{% static 'css/add.css' %}">

<h2>Add Your Institution</h2>
<form action="{% url 'add_institution' %}" class="form1" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<div>
    <label for="name">Name</label>
    <input type="text" name="name" id="">
</div>
<div>
    <label for="description">Description</label>
    <input type="text" name="description" id="">
</div>
<div>
    <div>
        <label for="street">Street</label>
        <input type="text" name="street" id="">
    </div>
    <div>
        <label for="city">City</label>
        <input type="text" name="city" id="">
    </div>
    <div>
        <label for="state">State</label>
        <input type="text" name="state" id="">
    </div>
    <div>
        <label for="country">Country</label>
        <input type="text" name="country" id="">
    </div>
</div>
<!-- <div>
    <label for="address"> Address </label>
    <input type="text" name="address">
</div> -->
<div>
    <h6>Monday - Friday </h6>
    <label for="start_time">Start Time</label>
    <input type="time" name="start_time" id="">
    <label for="close_time">Close Time</label>
    <input type="time" name="close_time" id="">
</div>

<div>
    <label for="image"></label>
    <input type="file" name="image" id="">
</div>


<!-- <div class="">
    <label for="sat_available">Saturday Availabilty </label>
    <input type="checkbox" name="sat_available" id="satAvailableField">
</div>
<div class="sat_work_hours" style="display: none;">
    <h6>Saturday</h6>
    <label for="sat_start_time">Start Time</label>
    <input type="time" name="sat_start_time" id="">
    <label for="sat_close_time">Close Time</label>
    <input type="time" name="sat_close_time" id="">

</div> -->

<!-- </form> -->

<!-- <form action="" class="form2"> -->
    <!-- <h3>Institution Type    </h3> -->
    <!-- <div class="microfinance__bank">
        <label for="microfinance_bank">Microfinance Bank</label>
        <input type="checkbox" name="microfinance_bank" id="">
    </div>
    <div class="financial__banking">
        <label for="financial__banking">Financial Banking</label>
        <input type="checkbox" name="financial__banking">
    </div>
    <div class="cooperative_societies">
        <label for="cooperative_societies">Cooperative Societies</label>
        <input type="checkbox" name="cooperative__societies" id="">
    </div>
    <div class="Insurance">
        <label for="insurance">Insurance</label>
        <input type="checkbox" name="insurance" id="">
    </div> -->
    <!-- <div>
        <label for="id_institution">Institution Type</label>
        <select name="institution" id="id_institution">
            {% for choice in listing_instance.INSTITUTION_CHOICES %}
            <option value="{{choice.0}}">{{choice.1}}</option>
            {% endfor %}
        </select>
    </div> -->
    <div>
        <label for="institution">Cateogory</label>
        <select name="institution" id="">
            {% for category in institution_categories %}
            <option value="{{ category.name }}">{{category.name}}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit">Submit</button>
</form>
{% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{uploaded_file_url}}</a></p>
{% endif %}
{% block javascript%}
<script src="{% static 'js/add.js' %}"></script>
{% endblock javascript %}
{% endblock content %}