{% extends '_base.html' %}

{% block content %}
<aside>
    <p>Step 1</p>
    <p>Step 2</p>
    <p>Step 2</p>
    <p>Step 3</p>
</aside>

<form action="" class="form1">
<div>
    <label for="name">Name</label>
    <input type="text" name="name" id="">
</div>
<div>
    <label for="description">Description</label>
    <input type="text" name="description" id="">
</div>
<div>
    <div>
        <label for="street">Street</label>
        <input type="text" name="street" id="">
    </div>
    <div>
        <label for="street">City</label>
        <input type="text" name="street" id="">
    </div>
    <div>
        <label for="street">State</label>
        <input type="text" name="street" id="">
    </div>
    <div>
        <label for="street">Country</label>
        <input type="text" name="street" id="">
    </div>
</div>
<div>
    <label for="work_hours"></label>
    <input type="time" name="" id="">
    <input type="time" name="" id="">
</div>

<div>
    <label for="sat_work_hours">Saturday Availabilty </label>
    <input type="checkbox" name="sat_work_hours" id="">
</div>

</form>

<form action="" class="form2">
    <div class="microfinance__bank">
        <img src="" alt="">
        <h3>Microfinance Bank</h3>
        <p></p>
    </div>
    <div class="microfinance__bank">
        <img src="" alt="">
        <h3>Cooperative Societies</h3>
        <p></p>
    </div>
    <div class="microfinance__bank">
        <img src="" alt="">
        <h3>Financial Banking</h3>
        <p></p>
    </div>
    <div class="microfinance__bank">
        <img src="" alt="">
        <h3>Insurance Companies</h3>
        <p></p>
    </div>
</form>

<form action="" class="form3">
    <h2>Plans and Pricing</h2>

</form>
<small>Add Plan</small>
<form action="" class="form4">
    <h2>Upload Photos </h2>
</form>

{% endblock content %}