{% extends "_base.html" %}
{% load static %}
{% block title %} Login {% endblock title %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/auth.css' %}">

<div class="auth__container container">
    <div>
        <img src="{% static 'img/amicod.png'%}" alt="" class="auth__image">
    </div>

    <form class="form" action="{%url 'login' %}" method="post">
        <div class="form__title">
            <h4> Welcome Back!</h4>
            <p>Don't have an account? <a href="{% url 'signup'%}">Sign up</a> </p>
        </div>
        {% csrf_token %}
        <div class="form__item">
            <label for="email" class="form__label">Email Address</label>
            <input type="email" class="form__input form__input--error" name="email" id="emailField" placeholder="abc@xyz.com" value="{{fieldValues.email}}">
            <span class="form__error"></span>
        </div>
        <!-- <div class="invalid_feedback" style="display: none;">
        </div>
        <div class="success_feedback">
        </div> -->
        <div class="form__item ">
            <label for="password" class="form__label">Password</label>
            <input type="password" class="form__input form__input--error"name="password" id="passwordField" placeholder="Password">
            <span class="form__error"></span>
            <small class="showPasswordToggle">SHOW</small>
        </div>
        <div class="form__item">
            <input type="checkbox" name="" id=""> Remember Me
            <small> Forgot Password? </small>
        </div>
        <div class="form__item">
            <button class="form__btn" type="submit"> Login </button>
        </div>
    </form>
 </div>
{% include 'partials/footer.html' %}

{% endblock content %}

{% block javascript %}
<script src="{% static 'js/forms.js' %}"></script>
{% endblock javascript %}
