{% extends '_base.html'%}

{% block content %}
<section class="profile">
    <div class="container flex">
        {% include 'partials/aside.html' %}

        <div class="profile__edit">
            <div>
                <p>{{user.full_name}}</p>
                <p>{{user.email}}</p>
            </div>
            <div>
                <!-- add user form to update user profile -->
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block javascript %}
{% endblock javascript %}
