{% extends '_base.html' %}
{% load static %}

{% block title %} Sign Up {% endblock title %}
{% block content %}
<div class="card">
    <div class="card-title">
        <h4>Register</h4>
    </div>
    <form action="{%url 'signup' %}" method="post">
        {% csrf_token %}
        <div class="">
            <label for="name">Full name</label>
            <input type="text" name="name" id="nameField" placeholder="Enter your Full name" value={{fieldValues.name}}>
        </div>
        <div class="">
            <label for="email">Email Address</label>
            <input type="email" name="email" id="emailField" placeholder="abc@xyz.com" value="{{fieldValues.email}}">
        </div>
        <div class="invalid_feedback" style="display: none;">
        </div>
    
        <div class="success_feedback">
        </div>
        <div class="">
            <label for="password">Password</label>
            <input type="password" name="password" id="passwordField" placeholder="Password">
            <small class="showPasswordToggle">SHOW</small>
        </div>
        <button class="submit-btn" type="submit"> Submit</button>
    </form>
    <p>By proceeding, you agree to our <b>Privacy Policy & Service Agreement</b></p>
</div>
{% endblock content %}
{% block javascript %}
<script src="{% static 'js/signup.js' %}"></script>
{% endblock javascript %}
