{% extends '_base.html' %}
{% load static %}


{% block title %} Signup {% endblock title %}

{% block content %}

<div class="auth__container container">
    <div >
        <img src="{% static 'img/rafikis.png'%}" alt="" class="auth__image">
    </div>


    <form class="form" action="{%url 'signup' %}" method="post">
        <div class="form__title">
            <h4>Welcome</h4>
            <p>Create an account!</p>
        </div>
    {% csrf_token %}
        <div class="form__item">
            <label for="name" class="form__label">Full name</label>
            <input type="text" class="form__input " name="name" id="nameField" placeholder="Enter your Full name" value={{fieldValues.name}} >
        </div>
        <div class="form__item">
            <label for="email" class="form__label">Email Address</label>
            <input type="email" class="form__input" name="email" id="emailField" placeholder="abc@xyz.com" value="{{fieldValues.email}}" required>
        </div>
        <div class="invalid_feedback" style="display: none;">
        </div>

        <div class="success_feedback" style="display: none;">
        </div>
        <div class="form__item">
            <label for="password" class="form__label">Password</label>
            <input type="password" class="form__input" name="password" id="passwordField" placeholder="Password" required>
            <small class="showPasswordToggle">SHOW</small>
        </div>
        <div class="form__item">
            <p>By signing up, you agree to our <b>Terms of Service</b></p>
        </div>

        <div class="form__item">
            <button class="form__btn" type="submit"> Sign Up </button>
        </div>
        <p>Already Have an account ? <a href="{% url 'login' %}"> Sign in</a></p>
    </form>
   

</div>
{% include 'partials/footer.html' %}

{% endblock content %}


{% block javascript %}
<script src="{% static 'js/form.js' %}"></script>
{% endblock javascript %}
