{% extends '_base.html' %}
{% load static %}


{% block title %} Signup {% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">

<div class="auth__container">
    <div class="signup__image">
        <img src="{% static 'img/rafikis.png'%}" alt="">
    </div>


    <form class="form" action="{%url 'signup' %}" method="post">
        <div class="form__title">
            <h4>Welcome</h4>
            <p>Create an account!</p>
        </div>
    {% csrf_token %}
        <div class="form__item">
            <label for="name" class="form__label">Full name</label>
            <input type="text" class="form__input form__input--error" name="name" id="nameField" placeholder="Enter your Full name" value={{fieldValues.name}}>
        </div>
        <div class="form__item">
            <label for="email" class="form__label">Email Address</label>
            <input type="email" class="form__input form__input--error" name="email" id="emailField" placeholder="abc@xyz.com" value="{{fieldValues.email}}">
        </div>
        <div class="invalid_feedback" style="display: none;">
        </div>

        <div class="success_feedback">
        </div>
        <div class="form__item">
            <label for="password" class="form__label">Password</label>
            <input type="password" class="form__input form__input--error" name="password" id="passwordField" placeholder="Password">
            <small class="showPasswordToggle">SHOW</small>
        </div>
        <div class="form__item">
            <p>By signing up, you agree to our <b>Terms of Service</b></p>
        </div>

        <div class="form__item">
            <button class="form__btn" type="submit"> Sign Up </button>
        </div>
        <p>Already Have an account ? <a href="{% url 'login' %}"> Sign in</a></p>
    </form>
   

</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/signup.js' %}"></script>
{% endblock javascript %}
