<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finconnect - {% block title %} {% endblock title %}</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/helper.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

</head>
<body>
    <div class="loader">
        <div class="loading-spinner"></div>
    </div>
    <header>
        <div class="navbar">
            <div class="container flex">
                <h1 class="logo">
                <a href="{% url 'dashboard:homepage' %}" class="navbar__logo">Finconnect</a>
                <!-- <input type="checkbox" name="" id="inpNavToggle"> -->
                </h1>
                <nav class="nav" >
                    <ul>
                        <li> <i class="li-icons material-icons-outlined"></i><a href="{% url 'dashboard:about' %}">About Us</a></li> 
                        <li> <i class="li-icons material-icons-outlined"></i><a href="{% url 'dashboard:contact' %}">Contact Us</a></li> 
                        <li><i class="li-icons material-icons-outlined"></i><a href="{% url 'faq:faq' %}">FAQ</a></li>  
                        {% if user.is_authenticated %}
                        <li> <i></i><a href="">My Bookings</a></li> 
                        <li><i></i><a href="{% url 'dashboard:list' %}">Manage Listsings</a></li> 
                        <li><i></i><a href="{% url 'profile' %}">My Profile</a></li> 
                        <li><a class="btn" href="{% url 'logout' %}"> Log Out</a></li>
                        {% else %}
                
                        <li><a class="btn" href="{% url 'signup' %}">Register </a></li>
                        <li><a class="btn" href="{% url 'login' %}"> Login</a></li>
                        {% endif %}                
                    </ul>
                </nav>
                <i class="material-icons navbar__toggle">menu</i>

            </div>
        </div>
    </header>

    <main class="main" role="main">
    {% block content %}
    {% endblock content %}
    </main>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/search.js' %}"></script>
  
    {% block javascript %}
    {% endblock javascript %}
</body>
</html>