<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finconnect - {% block title %} {% endblock title %}</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/signup.css' %}"> -->
</head>
<body>
    <header>
        <div class="navbar__container">
            <a href="{% url 'homepage' %}" class="">finconnect</a>
            <ul class="nav">
                {% if user.is_authenticated %}
                <li><a href="">My Bookings</a></li> 
                <li><a href="{% url 'dashboard' %}">Manage Listsings</a></li> 
                <li><a href="{% url 'profile' %}">My Profile</a></li> 
                <button><a href="{% url 'logout'%}"> Log Out</a></button>

                {% else %}
                <button><a href="{% url 'signup'%}" class="">Register </a></button>
                <button><a href="{% url 'login' %}"> Login</a></button>

                
<!--          
                {% if user.is_institution%} -->


                <!-- {% endif %} -->

                {% endif %}                
            </ul>
        </div>
    </header>
    <main role="main">
    {% block content %}
    {% endblock content %}
    </main>
    <script src="{% static 'js/base.js' %}"></script>
    {% block javascript %}
    {% endblock javascript %}
</body>
</html>