{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} finconnect {% endblock title%}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
   
</head>
<body>
    <header>
        <div class="">
            <a href="" class="">finconnect</a>
            <nav class="">
                <a href="" class="">Register </a>
                <a href=""> Login</a>
            </nav>
        </div>
    </header>
 
</body>
</html>