{% extends '_base.html' %}
{% load static %}
{% block content %}

<section class="contact my-3">
<div class="container ">
    <div class="text-center my-2">
        <h4>Get in touch with us</h4>
    </div>
    <div class="grid">
        <div >
            <h3>Contact Information</h3>
            <p>Fill up the form and our team will get back to you within 24hrs</p>

            <p> 08132755220 </p>
            <p> info@finconnect.com</p>
            <p> 17, Tejusoho Street, Yaba, Lagos.</p>
        </div>
    
        <form class="card" action="">
            <div>
                <label for="name">Name</label>
                <input type="text" name="name" id="">
            </div>
            <div>
                <label for="email">Email Address</label>
                <input type="text" name="email" id="">
            </div>                <div>
                <label for="messages">Message Us</label>
                <input type="text" name="message" id="">
            </div>
            <input type="submit" class="btn btn-primary">
        </form>
    </div>
</div>
</section>
<section class=" map my-3">
    <div class="container">
        <div class="map__title">
            <h4>17, Tejusoho Street, Yaba, Lagos.</h4>
        </div>
    </div>
</section>
{% include 'partials/footer.html' %}
{% endblock content %}