{% extends '_base.html' %}
{% load static %}

{% block title %} Homepage {% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<div class="search__container">
    <div class="search__title">
        <h1>Connect with your desired vendors</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit perferendis nulla sit qui, eveniet voluptatum doloremque ipsa rerum ab magni necessitatibus tempore nisi! Delectus expedita molestias optio </p>
    </div>
    <div class="search__bar">
        <form action="{%url 'search-list'%}" method="POST" id="searchForm">
        <div>
            <select name="category" id="categoryField">
               {% for category in instituition_categories %}
                <option value="{{ category.name }}">{{category.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <select name="state" id="stateField">
                <option value="">Lagos State</option>
                <option value="">Lagos State</option>
            </select>
        </div>
        <div class=search__input>
                <input type="search" name="search_text" id="searchField">
                <!-- <input type="submit"> -->
        </div>
        <button type="submit">Submit</button>
        </form>
    </div>
</div>
<div class="categories__container">
    <div class="categories__title">
        <h2>Popular Categories</h2>
        <p>Check out the list of popular categories</p>
    </div>
    <div class="categories__list">
    {% for categories in instituition_categories %}
        <div class="categories__item">
            <h2>{{categories.name}}</h2>
            <hr width=200px>
                <!-- {% with total=listings.count %} -->
                <!-- <p>{{ total }} listings</p> -->
                <!-- {% endwith %} -->
        </div>
    {% endfor %}
    </div>
</div>
<div class="featured__container">
    <div class="featured__title ">
        <h2>Featured Spaces</h2>
    </div>
    <div class="featured__list">
        {% for list in listings %}
        <a href="{{ list.get_absolute_url }}">
            <div class="listing">
                <img src="{{list.list_image.url}}" alt="{{list.name}}">
                <h4>{{ list.name }}</h4>
                <h5>{{ list.address }}</h5>
                <h5>{{ list.number }}</h5>
                <!-- {% if not list.is_saturday_availble %} -->
                <h5>Monday - Friday {{ list.start_time}} {{ list.close_time}}</h5>
                <!-- {% else %}
                <h5>Monday - Saturday {{ list.start_time}} {{ list.close_time}}</h5>
                {% endif %} -->
                <!-- <div class="views">
                    <h5>150</h5>
                    <h5>90</h5>
                </div> -->
            </div>
        </a>
        {% endfor %}
 
  
    </div>
</div>

<div class="locations__container">
    <div class="locations__title">
        <h2>Locations near you</h2>
    </div>
    <div class="locations__list">
        <div class="listing__location">
            <a href=""><img src="{% static 'img/lagos.png'%}" alt=""></a>
            <p>Lagos</p>
        </div>
        <div class="listing__location">
            <a href=""><img src="{% static 'img/abuja.png'%}" alt=""></a>
            <p>Abuja</p>
        </div>
        <div class="listing__location">
            <a href=""><img src="{% static 'img/kano.png'%}" alt=""></a>
            <p>Kano</p>
        </div>
        <div class="listing__location">
            <a href=""><img src="{% static 'img/ibadan.png'%}" alt=""></a>
            <p>Ibadan</p>
        </div>
    </div>    
</div>


<div class="footer">
    <div class="footer__sections container">
        <div class="footer__section">
            <span>Institutions</span>
            <a href="" class="footer__link">Microfinance Banks</a>
            <a href="" class="footer__link">Cooperative Societies</a>
            <a href="" class="footer__link">Financial Banking</a>
            <a href="" class="footer__link">Insurance Companies</a>
        </div>
        <div class="footer__section">
            <span>More</span>
            <a href="" class="footer__link">Add your Institution</a>
            <a href="" class="footer__link">Terms and Conditions</a>
            <a href="" class="footer__link">Privacy and Policy </a>
            <a href="" class="footer__link">FAQS</a>
        </div>
        <div class="footer__section">
            <span class="footer__title">Contact</span>
            <a href="" class="footer__link">Twitter</a>
            <a href="" class="footer__link">Instagram</a>
            <a href="" class="footer__link">Linkedin</a>
            <a href="" class="footer__link">fintechinnovationhub@gmail.com</a>
            <a href="" class="footer__link">+234 (813)-275-5220</a>
            <a href="" class="footer__link">17, Tejuosho Road Yaba, Lagos State</a>
        </div>
    </div>
    <div class="footer__copyright container">
        <hr class="footer__hr">
        <p> &copy; Copyright 2021 - Finconnect Technolgies</p>
        <p> Limited | All Rights Reserved</p>
    </div>
</div>
<script src="{% static 'js/search.js'%}"></script>
{% endblock content %}
