{% extends '_base.html' %}
{% load static %}

{% block title %} Homepage {% endblock title %}
{% block content %}

<!-- 
<div class="categories__container container ">
    <div class="categories__title">
        <h2>Popular Categories</h2>
        <p>Check out the list of popular categories</p>
    </div>
    <div class="categories__list">
    {% for categories in instituition_categories %}
        <div class="categories__item">
            <h2>{{categories.name}}</h2>
            <hr width=200px>
                {% with total=listings.count %}
                <p>{{ total }} listings</p>
                {% endwith %}
        </div>
    {% endfor %}
    </div>
</div> -->
<section class="search bg-primary">
    <div class="container flex">
        <div class="search-text">
            <h1>Connect with your desired vendors</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit perferendis nulla sit qui, eveniet voluptatum doloremque ipsa rerum ab magni necessitatibus tempore nisi! Delectus expedita molestias optio </p>
        </div>
            <form class="search__form" action="{% url 'search-list' %}" method="POST" id="searchForm">
                <div class="search__bar">
                {% csrf_token %}
        
                <input class="search__input" type="search" name="search_text" id="searchField" placeholder="Search Listings">
                <button class="search__button" type="submit"> <i class="material-icons">search</i> Search </button>
            </div> 
            </form>
    
    </div> 
    </section>  
<section class="featured my-3 ">
    <div class="container">
        <div class="featured-heading text-center my-1 ">
            <h2>Featured Spaces</h2>
        </div>
        <div class="grid">
            {% for list in listings %}
                <div class="card">
                    <a href="{{ list.get_absolute_url }}" class="featured__link">
                        <img src="{{list.list_image.url}}" alt="{{list.name}}">
                        <h4>{{ list.name }}</h4>
                       <p><i class="fa-solid map-location-dot"></i>{{ list.address }}</p>
                       <p><i class="fa-solid fa-phone"></i>{{ list.number }}</p>
                        <p><i class="fa-solid fa-calendar-days"></i> Monday - Friday {{ list.start_time}} {{ list.close_time}}</p>
                    
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- <div class="locations__container container">
    <div class="locations__title">
        <h2>Locations near you</h2>
    </div>
    <div class="locations__list">
        <div class="listing__location">
            <a href=""><img src="{% static 'img/lagos.png'%}" alt=""></a>
            <p>Lagos</p>
        </div>
        <div class="listing__location">
            <a href=""><img src="{% static 'img/abuja.png'%}" alt=""></a>
            <p>Abuja</p>
        </div>
        <div class="listing__location">
            <a href=""><img src="{% static 'img/kano.png'%}" alt=""></a>
            <p>Kano</p>
        </div>
        <div class="listing__location">
            <a href=""><img src="{% static 'img/ibadan.png'%}" alt=""></a>
            <p>Ibadan</p>
        </div>
    </div>    
</div> -->

{% include 'partials/footer.html' %}
<script src="{% static 'js/search.js'%}"></script>
{% endblock content %}
