{% extends '_base.html' %}
{% load static %}
{% block content %}
{% for list in listings %}
    <section class="list-image bg-img" style="background-image: url({{list.list_image.url}})">
        <div class="container flex" >
            <div class="list-contact-icons">
                <i>mark</i>
                <i>social</i>
            </div>
            <div class="list-detail">
                <h3>{{list.name}}</h3>
                <p>{{list.instituition}}</p>
            </div>
        </div>
    </section>
    <section class="list-detail">   
        <div class="container flex">
        <div class="list-category">
            <div class="flex">
                <div>
                    <p>Agent Banking</p>
                </div>
                <div>
                    <p>Loans</p>
                </div>      
                <div>
                    <p>Mobile Banking</p>
                </div>      
                <div>
                    <p>Savings</p>
                </div>
            </div>
            <div class="list-description">
                <p>{{list.description}}</p>
            </div>
            <div>
                <h3>Opening Hours</h3>
                <ul>
                    <li>Monday {{list.start_time}} - {{list.close_time}}</li>
                    <li>Tuesday {{list.start_time}} - {{list.close_time}}</li>
                    <li>Wednesday {{list.start_time}} - {{list.close_time}}</li>
                    <li>Thursday {{list.start_time}} - {{list.close_time}}</li>
                    <li>Friday {{list.start_time}} - {{list.close_time}}</li>
                </ul>
            </div>
        </div>
        <div class=" card list-booking">
            Book here
        </div>
    </div>
    </section>

{% endfor %}

{% endblock content %}