{% extends '_base.html' %}
{% load static %}
{% block content %}
{% for list in listings %}
<div class="image__slider">
<img src="{{list.list_image.url}}" alt="">
</div>
<div class="details">
    <p>{{list.address}}</p>
    <h2>{{list.name}}</h2>
    <hr width=200px>
    <p>
        {{list.description}}
    </p>
    <hr>
    <h2>Availabilty</h2>
    {% if not list.is_saturday_availble %}
    <h5>Monday - Friday {{ list.start_time}} - {{ list.close_time}}</h5>
    {% else %}
    <h5>Monday - Saturday {{ list.start_time}} - {{ list.close_time}}</h5>
    {% endif %}
    <hr>
    <h2>Reviews</h2>
    <p>comments</p>

</div>

<div class="plans">
    <h2>Plans</h2>
</div>
<div>
    <h2>You might like</h2>
</div>

{% endfor %}

{% endblock content %}